@font-face {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://res.cloudinary.com/dzffvum1n/raw/upload/v1569477091/BarlowCondensed-Regular_ewibn1.ttf) format('truetype');
}
body {
}